<footer>
  <a class="footer__logo">
    <img src="images/logo.svg" />
  </a>
  <div class="footer__container">
    <div class="footer__info">
      <div class="about-company">
        <div class="about-company__title footer__title">о компании</div>
        <ul>
          <li><a href="#">Профиль компании</a></li>
          <li><a href="#">История</a></li>
          <li><a href="#">Совет директоров</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </div>

      <div class="fleet">
        <div class="fleet__title footer__title">фтол</div>
        <ul>
          <li><a href="#">Виды деятельности</a></li>
          <li><a href="#">Устойчивое развитие</a></li>
          <li><a href="#">Безопасность и качество</a></li>
          <li><a href="#">Защита окружающей среды</a></li>
          <li><a href="#">Социальная ответственность</a></li>
        </ul>
      </div>

      <div class="investors">
        <div class="investors__title footer__title">Инвесторам</div>
        <ul>
          <li><a href="#">Акции</a></li>
          <li><a href="#">Отчеты и результаты</a></li>
          <li><a href="#">Раскрытие информации</a></li>
          <li><a href="#">Корпоративное управление</a></li>
          <li><a href="#">Аналитики</a></li>
          <li><a href="#">Контакты для инвесторов</a></li>
        </ul>
      </div>

      <div class="contacts">
        <div class="contacts-adress">
          <div class="contacts__1">
            191186, Санкт-Петербург, Невский переулок, д. 3, офис 10-25
          </div>
          <div class="contacts__2">
            125047, Москва, Покровская площадь, д.3, к. 5,стр 1
          </div>
          <div class="telephone">+7 (495) 123-45-67</div>
          <div class="mail">info@lead-group.ru</div>
        </div>
      </div>
    </div>
  </div>
</footer>
