<header class="header header-blue">
  <div class="container">
    <div class="header__top">
      <a class="header__logo" href="index.html">
        <img src="images/logo.svg" />
      </a>
      <div class="header__top-contacts">
        <p class="header__top-contacts__mail">info@lead-group.ru</p>
        <p class="header__top-contacts__tell">+7 (495) 123-45-67</p>
      </div>
      <div class="search__box">
        <input type="text" name="search" class="search" />
        <a href="#"> <img src="images/ic-search.svg" alt="" /></a>
      </div>
    </div>

    <nav class="header__bottom">
      <ul class="menu__list">
        <li class="menu__item">
          <a href="services.html" class="menu__link">о нас</a>
        </li>
        <li class="menu__item"><a href="#" class="menu__link">флот</a></li>
        <li class="menu__item">
          <a href="#" class="menu__link">инвесторам</a>
        </li>
        <li class="menu__item"><a href="#" class="menu__link">карьера</a></li>
        <li class="menu__item">
          <a href="map.html" class="menu__link">пресс-центр</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">устойчивое развитие</a>
        </li>
        <li class="menu__item"><a href="#" class="menu__link">контакты</a></li>
      </ul>
    </nav>
  </div>
  <button class="header__burger-btn" id="burger">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
